<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>LaFika</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>PAGINA DE SERIES</div>
        <div th:if="${series != null and !series.empty}">
            <table border ="2">
                <tr>
                    <th>Temporadas</th>
                    <th>Nombre</th>
                    <th>Capitulos</th>
                    <th>Year</th>
                    <th>Sipnosis</th>
                    <th>trailer</th>
                    <th>banner</th>
                </tr>
                <tr th:each="serie : ${series}">
                    <td th:text="${serie.temporadas}">Muestra Temporadas </td>
                    <td th:text="${serie.nombre}">Muestra Nombre </td>
                    <td th:text="${serie.capitulos}">Muestra Caps </td>
                    <td th:text="${serie.year}">Muestra year </td>
                    <td th:text="${serie.sipnosis}">Muestra year </td>
                    <td th:text="${serie.linktrailer}">Muestra year </td>
                    <td th:text="${serie.linkbanner}">Muestra year </td>
                </tr>
            </table>
        </div>
        <div th:if="${series == null or series.empty}">
            La lista no tiene seriesss
        </div>
    </body>
</html>


<html lang="es">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" 
              rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" 
              crossorigin="anonymous">
        <title>LaFika</title>
        <meta charset="UTF-8">
        <meta name="description" content="Página de la leccion 2"/>
        <meta name="Keywords" content="htmls, css, web, fidelitas"/>
        <link href="css/estilos.css" rel="stylesheet" type="text/css"/>
        <link href="css/Home.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="col">
            <div class="row">
                <header class="header"> 
                    <nav class="nav">
                        <img src="imagenes/Logo.png" alt="" width="100"/>
                        <a href="/" class="logo nav-link"> LaFika</a>

                        <ul class="nav-menu">
                            <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="/">Inicio</a></li>
                            <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="peliculas">Peliculas</a></li>
                            <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="series">Series</a></li>
                            <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="documentales">Documentales</a></li>
                            <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="Lista.html">Lista</a></li>
                        </ul>
                        <label>Buscar</label><input type="search" name="search" placeholder="Buscarkjgkjg"><br><br> 
                        <img src="imagenes/Perfil.png" alt="" width="50"/>
                    </nav>
                </header>
                <br><br><br>
            </div>
            <br><br><br>
            <div class="row">
                <br><br><br>
                <h1 style="color: white;">Lo más nuevo en Series</h1>
                <div th:if="${series != null and !series.empty}">

                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div th:each="serie : ${series}" class="col">
                            <div class="card">
                                <img th:src="${serie.linkbanner}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${serie.nombre}">Nombre de la serie</h5>
                                    <p class="card-text" th:text="${serie.sipnosis}">Sinopsis de la serie</p>
                                    <p class="card-text">
                                        <strong>Temporadas:</strong> <span th:text="${serie.temporadas}">1</span>
                                    </p>
                                    <p class="card-text">
                                        <strong>Capítulos:</strong> <span th:text="${serie.capitulos}">10</span>
                                    </p>
                                    <p class="card-text">
                                        <strong>Año:</strong> <span th:text="${serie.year}">2021</span>
                                    </p>
                                    <a th:href="${serie.linktrailer}" class="btn btn-primary" target="_blank">Ver trailer</a>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div th:if="${series == null or series.empty}">
                    La lista no tiene peliculas
                </div>

            </div>
        </div>
        <footer id="piePagina">
            Derechos reservados &COPY; 2023 <address class="lineaDireccion">ProyectoLaFika</address> <address class="lineaDireccion">Correo: lcalvo80905@ufide.ac.cr</address>
        </footer>     
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" 
                integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" 
        crossorigin="anonymous"></script>
    </body>
</html>

