*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    padding: 45px 20px 0;
    background-color: #2B292E;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;   
}

.Titulo{
    font-size: 50px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 50px;   
}
.footer{
    background-color: #2B292E;
    text-align: center;
    color: white;
    height: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
  .navbar-brand {
    display: flex;
    align-items: center;
    color: white;
    font-size: 24px;
    text-decoration: none;
  }

  .navbar-brand img {
    margin-right: 10px;
  }

  .navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-item {
    margin-right: 20px;
  }

  .nav-link {
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 0;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
  }

  .nav-link:hover {
    border-bottom: 2px solid #28a745;
  }

  .form-control {
    background-color: #444;
    border: none;
    color: white;
    border-radius: 0;
  }

  .btn-outline-success {
    color: #fff;
    border-color: black;
  }

  .btn-outline-success:hover {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
  }

  .img {
    border-radius: 50%;
  }